{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/app.twig' %}

{% block title %}Paste{% endblock %}

{% block extracss %}
	<style>
	#paste {
		resize: vertical;
	}
	</style>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Paste</h3>
				</div>

				<div class="panel-body">
					<form action="{{ path_for('file.upload.paste') }}" method="post" enctype="multipart/form-data" autocomplete="off">
						<div class="form-group{{ errors.title ? ' has-error' : '' }}">
							<label for="title">Title</label>
							<input type="text" name="title" id="title" class="form-control" value="{{ (errors.title or errors.paste) ? old.title : '' }}" placeholder="file.ext, file, .ext, or empty">
							{% if errors.title %}
								<span class="help-block">{{ errors.title | first }}</span>
							{% endif %}
						</div>

						<div class="form-group{{ errors.paste ? ' has-error' : '' }}">
							<label for="paste">Content</label>
							<textarea name="paste" id="paste" cols="30" rows="15" class="form-control" required>{{ (errors.title or errors.paste) ? old.paste : '' }}</textarea>
							{% if errors.paste %}
								<span class="help-block">{{ errors.paste | first }}</span>
							{% endif %}
						</div>

						<h4>
							Privacy setting
						</h4>

						{% include 'templates/partials/forms/privacy-levels.twig' %}

						<button type="submit" class="btn btn-default">Submit</button>

						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>

		{% include 'templates/partials/privacy-levels-desc.twig' %}
	</div>
{% endblock %}
