{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'templates/app.twig' %}

{% block title %}Community{% endblock %}

{% block extrameta %}
	<meta name="description" content="A list of every account on {{ settings.site.title | default('sleeti') }}.">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Community</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p>
				This is a list of every account on {{ settings.site.title | default('sleeti') }}.
			</p>
		</div>
		<div class="col-md-8">
			{% if page.users|length != 0 %}
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<tbody>
							{% for user in page.users %}
								<tr>
									<td class="vert-align">
										<a href="{{ path_for('user.profile', {'id': user.id}) }}">{{ user.name ? user.name : user.username }}</a>
										{% if user.name %}({{ user.username }}){% endif %}

										{% if user.isAdmin() %}
											<span class="label label-danger">Administrator</span>
										{% elseif user.isModerator() %}
											<span class="label label-warning">Moderator</span>
										{% endif %}
									</td>
									{% if auth.user.isAdmin() %}
										<td class="vert-align text-center">
											<a href="{{ path_for('user.profile.delete', {'id': user.id}) }}" class="btn btn-danger btn-xs">Delete</a>
										</td>
										<td class="vert-align text-center">
											<a href="{{ path_for('user.profile.edit', {'id': user.id}) }}" class="btn btn-warning btn-xs">Edit</a>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				{% if page.last != 1 %}
					{% include '/templates/partials/pagination.twig' with {
						currentPage: page.current,
						paginationPath: path_for('community') ~ "?page=",
						lastPage: page.last,
						showAlwaysFirstAndLast: true
					} only %}
				{% endif %}
			{% else %}
				<p>
					<b>No one has an account!</b> D:
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
