{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="{{ active_route('mod.mcp.home') }}"><a href="{{ path_for('mod.mcp.home') }}"><span aria-hidden="true" class="fa fa-home fa-fw"></span> MCP Home</a></li>
		<li role="presentation" class=" {{ active_route('mod.mcp.files') }} "><a href="{{ path_for('mod.mcp.files') }}"><span aria-hidden="true" class="fa fa-files-o fa-fw"></span> All Files</a></li>
		<li role="presentation" class="{{ active_route('mod.mcp.stats') }}"><a href="{{ path_for('mod.mcp.stats') }}"><span aria-hidden="true" class="fa fa-bar-chart fa-fw"></span> Site Statistics</a></li>
	</ul>
</div>
