<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{{ path_for('admin.acp.home') }}">ACP Home</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.database') }}">Database settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.site') }}">Site settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.password') }}">Password settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.errors') }}">Error settings</a></li>
	</ul>
</div>
