<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{{ path_for('admin.acp.home') }}"><span aria-hidden="true" class="fa fa-home fa-fw"></span> ACP Home</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.database') }}"><span aria-hidden="true" class="fa fa-database fa-fw"></span> Database settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.site') }}"><span aria-hidden="true" class="fa fa-pencil-square-o fa-fw"></span> Site settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.password') }}"><span aria-hidden="true" class="fa fa-asterisk fa-fw"></span> Password settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.acp.errors') }}"><span aria-hidden="true" class="fa fa-exclamation-triangle fa-fw"></span> Error settings</a></li>
	</ul>
</div>
