{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'templates/admin/acp/main.twig' %}

{% block title %}Log Settings{% endblock %}

{% block acpcontent %}
	<div class="col-md-6 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Log Settings
				</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path_for('admin.acp.log') }}" method="post" autocomplete="off">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="enabled" value="1"{{ settings.logging.enabled ? ' checked' : '' }}> Enable logging
						</label>
					</div>

					<div class="form-group">
						<label for="path">Path</label>
						<input type="text" class="form-control" name="path" id="path" value="{{ settings.logging.path }}" placeholder="/var/www/sleeti/logs/">
					</div>

					<div class="form-group">
						<label for="maxFiles">Max days to retain files</label>
						<input type="number" class="form-control" name="maxFiles" id="maxFiles" min="0" value="{{ settings.logging.maxFiles }}" placeholder="0">
						<span class="help-block">Setting this to 0 will retain all files.</span>
					</div>

					<div class="form-group">
						<label for="level">Log level</label>
						<select name="level" id="level" class="form-control">
							{% for name, value in levels %}
								<option value="{{ value }}"{% if settings.logging.level == value %} selected{% endif %}>{{ name }}</option>
							{% endfor %}
						</select>
					</div>

					<button type="submit" class="btn btn-default">Submit</button>

					{{ csrf.field | raw }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
