{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/admin/acp/main.twig' %}

{% block title %}Password Settings{% endblock %}

{% block acpcontent %}
	<div class="col-md-6 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Password Settings
				</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path_for('admin.acp.password') }}" method="post" autocomplete="off">
					<div class="form-group{{ errors.cost ? ' has-error' : '' }}">
						<label for="cost">Hash cost</label>
						<input type="number" name="cost" id="cost" placeholder="10" class="form-control" value="{{ old.cost | default(settings.password.cost) }}" min="4" max="31" required>
						{% if errors.cost %}
							<span class="help-block">{{ errors.cost | first }}</span>
						{% endif %}
						<span class="help-block">Changing this setting will cause all users' passwords to be rehashed when they log in.</span>
						<span class="help-block"><b>Warning:</b> Setting this value to something too high may result in excruciatingly long loading times for your users. If you really need a high hash cost, use the script in example #4 from the <code><a href="https://secure.php.net/manual/en/function.password-hash.php">password_hash</a></code> documentation.</span>
					</div>

					<button type="submit" class="btn btn-default">Submit</button>

					{{ csrf.field | raw }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
