{% extends 'templates/app.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>{{ user.username }}{% if user.name is defined %} <small>{{ user.name }}</small>{% endif %}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<dl>
				{% if user.website is not empty %}
					<dt>Website</dt>
					<dd><a href="{{ user.website }}">{{ user.website }}</a></dd>
				{% endif %}
				{% if user.bio is not empty %}
					<dt>Bio</dt>
					<dd>{{ user.bio }}</dd>
				{% endif %}
			</dl>
		</div>
		<div class="col-md-8">
			{% if user.files.count > 0 %}
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<th>Uploaded files</th>
					</thead>
					<tbody>
						{% for file in user.files %}
							<td><a href="{{ path_for('file.view', {'filename': file.id ~ '.' ~ file.ext}) }}">{{ file.id }}.{{ file.ext }}</a></td>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				Doesn't have files
			{% endif %}
		</div>
	</div>
{% endblock %}
