{% extends 'templates/app.twig' %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% if user == auth.user or auth.user.isModerator() %}
	{% set files = auth.user.files %}
{% else %}
	{% set files = user.files.where('privacy_state', 0) %}
{% endif %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>
				{{ user.username }} {% if user.name %}<small>({{ user.name }})</small>{% endif %}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>
				{% if user.isAdmin() %}
					<span class="label label-danger">Administrator</span>
				{% elseif user.isModerator() %}
					<span class="label label-warning">Moderator</span>
				{% endif %}
			</p>

			<dl>
				{% if user.website is not empty %}
					<dt>Website</dt>
					<dd><a href="{{ user.website }}">{{ user.website }}</a></dd>
				{% endif %}
				{% if user.bio is not empty %}
					<dt>Bio</dt>
					<dd>
						{{ user.bio | markdown }}
					</dd>
				{% endif %}
			</dl>
			{% if user.id == auth.user.id %}
				<p>
					<a href="{{ path_for('user.profile.edit') }}">Edit your profile</a>
				</p>
			{% elseif auth.user.isAdmin() %}
				<p>
					<a href="{{ path_for('admin.user.giveperms', {'uid': user.id}) }}">Change usergroup</a>
				</p>
			{% endif %}
		</div>
		<div class="col-md-{{ (user.id == auth.user.id or auth.user.isModerator()) ? '6' : '8' }}">
			{% if files.count > 0 %}
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<th>File</th>
						{% if user.id == auth.user.id or auth.user.isModerator() %}
							<th>Privacy</th>
						{% endif %}
					</thead>
					<tbody>
						{% for file in files %}
							<tr>
								<td>
									<a id="file-entry-{{ file.id ~ (file.filename is not empty ? '-' ~ file.filename : '') ~ (file.ext is not empty ? '.' ~ file.ext : '') }}" href="{{ path_for('file.view', {'filename': (file.id ~ (file.filename is not empty ? '-' ~ file.filename : '') ~ (file.ext is not empty ? '.' ~ file.ext : ''))}) }}">{{ file.id ~ (file.filename is not empty ? '-' ~ file.filename : '') ~ (file.ext is not empty ? '.' ~ file.ext : '') }}</a>
									{% if user.id == auth.user.id or auth.user.idModerator() %}
										(<a href="#" id="delete-file-{{ file.id ~ (file.filename is not empty ? '-' ~ file.filename : '') ~ (file.ext is not empty ? '.' ~ file.ext : '') }}">Delete</a>)
									{% endif %}
								</td>
								{% if user.id == auth.user.id or auth.user.isModerator() %}
									<th>{{ file.privacy_state }}</th>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<b>This user hasn't uploaded any files.</b> :(
			{% endif %}
		</div>
		{% if user.id == auth.user.id or auth.user.isModerator() %}
			<div class="col-md-2">
				<h3>Privacy levels</h3>
				<p>
					0 - Public
				</p>
				<p>
					1 - Unlisted (not shown on profiles)
				</p>
				<p>
					2 - Private (requires login)
				</p>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block extrajs %}
	<script>
	$(function() {
		$('[id^=delete-file-]').click(function(event) {
			event.preventDefault();
			var filename = $(this).attr('id').replace('delete-file-', '');
			var element = this;
			$.get({
				url: '/delete/' + filename, // TODO: figure out how to get path for file.delete
				success: function() {
					$(element).parent().html('(<b>Deleted</b>)');
				}
			});
			return false;
		});
	});
	</script>
{% endblock %}
