{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/mod/mcp/main.twig' %}

{% block title %}All Files{% endblock %}

{% block extrajs %}
	{% include 'templates/partials/js/file-list.twig' %}
{% endblock %}

{% block mcpcontent %}
	<div class="col-md-8">
		{% if page.files.count > 0 %}
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>File</th>
							<th>Uploader</th>
							<th>Privacy</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						{% for file in page.files %}
							{% set filename = file.filename %}
							<tr>
								<td class="vert-align">
									<a id="file-entry-{{ filename | url_encode }}" href="{{ path_for('file.view', {'owner': file.user.id, 'filename': filename | url_encode}) }}">{{ filename }}</a>
								</td>
								<td class="vert-align">
									<a href="{{ path_for('user.profile', {'id': file.user.id}) }}">{{ file.user.username }}</a>
								</td>
								<td class="vert-align">
									<select data-role="privacy-dropdown" class="form-control input-sm">
										<option data-route="{{ path_for('file.privacy.change', {'owner': file.user.id, 'filename': file.filename, 'privacy': 0}) }}" {% if file.privacy_state == 0 %} selected{% endif %}>Public</option>
										<option data-route="{{ path_for('file.privacy.change', {'owner': file.user.id, 'filename': file.filename, 'privacy': 1}) }}" {% if file.privacy_state == 1 %} selected{% endif %}>Unlisted</option>
										<option data-route="{{ path_for('file.privacy.change', {'owner': file.user.id, 'filename': file.filename, 'privacy': 2}) }}" {% if file.privacy_state == 2 %} selected{% endif %}>Private</option>
									</select>
								</td>
								<td class="vert-align">
									<button type="button" class="btn btn-danger btn-xs delete-file" data-toggle="modal" data-target="#deleteConfirm" data-filename="{{ filename | url_encode }}" data-route="{{ path_for('file.delete', {owner: file.user.id, filename: filename}) }}">Delete</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% if page.last != 1 %}
				{% include '/templates/partials/pagination.twig' with {
					currentPage: page.current,
					paginationPath: path_for('mod.mcp.files') ~ "?page=",
					lastPage: page.last,
					showAlwaysFirstAndLast: true
				} only %}
			{% endif %}
		{% else %}
			<b>There are no files to show.</b> :(
		{% endif %}
	</div>

	{% include 'templates/partials/privacy-levels-desc.twig' %}

	<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="deleteConfirmLabel">Confirm deletion</h4>
				</div>
				<div class="modal-body confirm-text"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-action="delete" data-dismiss="modal">Yes</button>
					<button type="butotn" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
