{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'templates/mod/mcp/main.twig' %}

{% block title %}Site Statistics{% endblock %}

{% block mcpcontent %}
	<div class="col-md-10">
		<h2>Totals</h2>
		<ul class="list-unstyled">
			<li>
				<b>Total uploaded files:</b> {{ files.count | number_format }}
			</li>
			<li>
				<b>Total uploaded files size:</b> {{ dirsize('') | format_bytes }}
			</li>
		</ul>
		<h2>Leaderboards</h2>
		<div class="row">
			<div class="col-md-6">
				<h3>File Count</h3>
				<table class="table table-hover table-bordered">
					<thead>
						<th>User</th>
						<th>Files</th>
					</thead>
					<tbody>
						{% for user in usersFiles %}
							<tr>
								<td class="vert-align">
									<a href="{{ path_for('user.profile', {'id': user.id}) }}">{{ user.name ? user.name : user.username }}</a>
									{% if user.name %}({{ user.username }}){% endif %}

									{% if user.isAdmin() %}
										<span class="label label-danger">Administrator</span>
									{% elseif user.isModerator() %}
										<span class="label label-warning">Moderator</span>
									{% endif %}
								</td>
								<td class="vert-align">
									{{ user.files.count | number_format }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h3>Size Uploaded</h3>
				<table class="table table-hover table-bordered">
					<thead>
						<th>User</th>
						<th>Total Uploaded</th>
					</thead>
					<tbody>
						{% for user in usersSizes %}
							<tr>
								<td class="vert-align">
									<a href="{{ path_for('user.profile', {'id': user.id}) }}">{{ user.name ? user.name : user.username }}</a>
									{% if user.name %}({{ user.username }}){% endif %}

									{% if user.isAdmin() %}
										<span class="label label-danger">Administrator</span>
									{% elseif user.isModerator() %}
										<span class="label label-warning">Moderator</span>
									{% endif %}
								</td>
								<td class="vert-align">
									{{ dirsize(user.id) | format_bytes }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
