{% extends 'email/templates/default.twig' %}

{% block content %}
	<meta itemprop="name" content="Confirm Email"/>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="content-block">
				<b>Hi there,</b>
			</td>
		</tr>
		<tr>
			<td class="content-block">
				We received a request to reset your {{ settings.site.title | default('sleeti') }} account password. If you requested this change, click the link below to reset your passwrd. If you did not request this reset, disregard this email. However, pay attention to your email account security; if this email is compromised, <b>so is your {{ settings.site.title | default('sleeti') }} account</b>!
			</td>
		</tr>
		<tr>
			<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
				<a href="{{ base_url }}{{ path_for('auth.password.reset') }}?identifier={{ identifier }}&amp;token={{ token }}" target="_blank" class="btn-primary" itemprop="url">Reset my password</a>
			</td>
		</tr>
		<tr>
			<td class="content-block">
				&mdash; {{ settings.site.title | default('sleeti') }}
			</td>
		</tr>
	</table>
{% endblock %}
