{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/app.twig' %}

{% block title %}Setup 2FA{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Two factor authentication setup</h3>
				</div>

				<div class="panel-body">
					<p class="lead">
						Scan the following QR code with your 2FA app
					</p>

					<img src="{{ tfa.qr_code }}" alt="{{ tfa.secret }}" class="img-responsive center-block">

					<p class="lead">
						Or, enter the following code manually
					</p>

					<p>
						<code>{{ tfa.secret }}</code>
					</p>

					<p class="lead">
						Then, verify
					</p>

					<form action="{{ path_for('user.profile.2fa.setup') }}" method="post" autocomplete="off">
						<div class="form-group{{ errors.tfa_code ? ' has-error' : '' }}">
							<label for="tfa_code">Code</label>
							<input type="text" class="form-control" name="tfa_code" id="tfa_code" placeholder="XXXXXX" autofocus>
							{% if errors.tfa_code %}
								<span class="help-block">{{ errors.tfa_code | first }}</span>
							{% endif %}
						</div>

						<button type="submit" class="btn btn-default">Submit</button>

						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
